body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 95%;
}


/*@media (min-width:36rem) {
    width: 80%;
}

@media (min-width:42rem) {
    width: 70%;
}*/
